@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: mediumvioletred;
    --secondary-color: #f1f1f1;
    --text-color: #f9f9f9;
    --font-family: 'Roboto', sans-serif;
    --border-color: #ccc;
    --background-color: #333;
    --hover-color: rgb(255, 0, 162);
}

    html {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        font-family: var(--font-family);
        padding: 0;
        margin: 0;
        color: var(--text-color);
        background: var(--background-color);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 1fr;
        min-height: 100vh;
        grid-template-areas: 
            "nav nav nav"
            "aside main main";
        gap: 10vh 5vw;
        max-width: 1500px;
        width: 100%;
        border: var(--border-color) 1px solid;
    }

    .header {
        background-color: var(--primary-color);
        grid-area: nav;
        justify-items: center;
        align-content: center;
    }
    .sidebar {
        grid-area: aside;
        display: grid;
        grid-template-rows: 10% 115%;
        margin: 10px
    }

    .sidebar__search {
        grid-area: 1 / 1 / 2 / 1;
        border-top: var(--border-color) 1px solid;
        border-left: var(--border-color) 1px solid;
        border-right: var(--border-color) 1px solid;
        border-radius: 5px;
        justify-items: center;
        align-content: center;
    }

    .sidebar__section {
        grid-area: 2 / 1 / -1 / -1;
        height: 70%;
        border: var(--border-color) 1px solid;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar__form {
        width: 80%;
        margin: 5vh 0;
        gap: 5vh 5vw;
        display: flex;
        flex-direction: column;
    }

    .form__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }

    .form__button {
        background-color: var(--primary-color);
        color: var(--text-color);
        border: var(--border-color) 1px solid;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-weight: 500;
    }

    .form__button:hover {
        background-color: var(--hover-color);
        scale: 1.05;
        transition: scale 0.3s ease, background-color 0.3s ease;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5vw 5vh;
        margin: 10px;
    }
    .main__cards {
        grid-area: span 1 / span 4;
        border: var(--border-color) 1px solid;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 20vh;
    }

    .main__img {
        grid-area: 1 / 1 / 2 / 2;
        width: 95%;
        margin: 1vh 1vw;
        border-radius: 5px;
        align-self: center;
    }

    .main__text {
        padding: 2%;
        grid-area: 2 / 2 / -1 / -1;
    }

    /* Responsive Design */
    @media (max-width: 600px) {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
                "main"
                "aside";
            justify-items: center;
            align-items: center;
        }

        .header {
            display: none;
        }
        .main {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            width: 100%;
            justify-items: center;
            align-content: center;
        }

        /*Cards styles*/
        .main__cards {
            display: flex;
            flex-direction: column;
            width: 80vw;
            height: 30vh;
            object-fit: cover;
        }

        .main__img {
            height: 60%;
        }

        .sidebar {
            margin: 0;
            border: var(--border-color) 1px solid;
            border-radius: 5px;
            width: 100%;
            position: fixed;
            background-color: var(--background-color);
            left: 0;
            right: 0;
            bottom: 0;
        }
        .sidebar__search {
            border: none;
        }
        .sidebar__section {
            display: none;
        }
    }